<h1>New game</h1>
<div class="letters">
  <% @letters.each do |letter| %>
  <div class="letter"><%= letter.capitalize %></div>
  <% end %>
</div>
<p>What is the longest word you can find?</p>

<form action="/score" method="GET" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word" placeholder="Type your longest word">
  <input type="submit" value="Play">
</form>
